
name: Check Code Formatting with Black

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  black:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install Black
        run: |
          pip install black

      - name: Run Black on src/
        run: |
          black --check --line-length 79 --skip-string-normalization src/ChaProEV
