name: Deploy docs
on:
  push:
    paths:
      - docs/**
      - .github/workflows/deploy-docs.yml
      - 'mkdocs.yml'


jobs:

    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
        


        -   name: Set up Python
            uses: actions/setup-python@v5
            with:
                python-version: '3.13'

        -   name: Install MkDocs
            run: 
                pip install mkdocs


        -   name: Build
            run:
                mkdocs build
        -   name: Deploy
            run: 
                mkdocs gh-deploy
