name: Deploy docs
on:
  push:
    paths:
      - docs/**
      - .github/workflows/deploy-docs.yml
      - 'mkdocs.yml'



jobs:

    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
        
        -   name: Checkout repository
            uses: actions/checkout@v4
            with:
                # Ensure full history so mkdocs gh-deploy can create commits correctly
                fetch-depth: 0

        -   name: Set up Python
            uses: actions/setup-python@v5
            with:
                python-version: '3.13'

        -   name: Cache pip
            uses: actions/cache@v4
            with:
                path: ~/.cache/pip
                key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
                restore-keys: |
                    ${{ runner.os }}-pip-

        -   name: Install MkDocs
            run: 
                pip install mkdocs


        -   name: Build
            run:
                mkdocs build
        -   name: Deploy
            run: 
                mkdocs gh-deploy
